.hero {
  max-width: 64rem;
  margin: 4rem auto;
  text-align: center;
}
.links {
  display: block;
  padding-top: 4rem;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 var(--gap-quarter);
  display: inline-block;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}
.textSection {
  text-align: center;
}
.avatar {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.avatar img {
  width: 320px;
  height: 320px;
}
.title {
  max-width: 18rem;
  margin: 0 auto 1rem;
  line-height: 1;
}
.subtitle {
  color: var(--fg);
  max-width: 18rem;
  margin: 0 auto;
  font-size: ;
}
